.experience {
  position: relative;
}

.experience h3 {
  font-weight: 500;
  text-align: center;
}

.companies {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 22rem;
  height: 25rem;
  border: 1px solid #cac3c3;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card img {
  width: 100%;
  height: 17rem;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #fff;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #fff;
  color: black;
  transform: rotateY(180deg);
  overflow: scroll;
}

@media (max-width: 767px) {
  .companies {
    margin: 0rem;
  }
  .flip-card {
    margin: 1.5rem 0rem;
  }
}

@media (max-width: 1000px) and (min-width: 768px) {
  .companies {
    margin: 2rem 0rem 5rem;
  }
}
