.contact-me {
  background-color: #2b2b2b;
}

.contact-me h3 {
  font-weight: 300;
  color: #fff;
}

.contact-me div {
  height: 50vh;
}

.contact-me form {
  width: 50vh;
  height: 35vh;
}

.contact-me input,
.contact-me textarea,
.contact-me button {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background-color: #373233;
  color: #fff;
  transition: 0.5s ease all;
  border: 1px solid #f06000;
}

.contact-me textarea {
  height: 20vh;
  resize: none;
}

.contact-me button {
  background-color: #f06000;
}

.contact-me button:hover {
  background-color: #373233;
  color: #f06000;
}

.contact-me button:disabled {
  cursor: not-allowed;
}

.contact-me input::placeholder,
textarea::placeholder {
  color: #fff;
}
